body {
  font-family: 'Lobster', cursive;
  background-color: #232931;
  color: #EEEEEE;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.dice {
  text-align: center;
  margin: 20px;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

button#rollButton {
  background-color: #4ECCA3;
  color: #232931;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#rollButton:hover {
  background-color: #46B29D;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
