body {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* background-color: #1b1b32; */
    background-color: #59599b;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }

  h1, p {
    margin: 1em auto;
    text-align: center;
    color: aliceblue;
  }

  

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }


  label {
    display: block;
    margin: 0.7rem 0;
  }


  input, textarea {
    background-color: rgba(245, 245, 245, 0.667);
    /* border: 3px solid #0a0a23; */
    color: #ffffff;
  }

  #name-label, #email-label, #number-label {
      display: grid;
      text-align: center;
  }

 
  textarea,
  select, #submit {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  #submit {
      font-size: 1.5rem;
      color: aliceblue;
  }

  .call{
      margin-top: 20px;
  }
